

<!DOCTYPE html>
<html lang="en">
<label>
    <p>
        Посмотреть участок с номером :
        <input id="patcelnumber" type="number" value="3" />
    </p>
    <p>
        <input type="submit" id="parcelnum" value="Ok">
    </p>

</label>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">
    <title>Display Image</title>
</head>

<body>

<!-- Create a container element
    where the image will be displayed -->
<div id="imageContainer"></div>

<script>



        // You can dynamically set the innerHTML
        // of a container to include an image element
        const imageContainer = document
        .getElementById("imageContainer");
        imageContainer.innerHTML =
          `<img src=
            "http://localhost:8080/viewparcel/img/+patcelnumber.value">`;

</script>

</body>

</html>